Code/pipeline/Project Call 2 - Decide copy.json
{
	"name": "Project Call 2 - Decide copy",
	"properties": {
		"activities": [
			{
				"name": "Get Files list",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ip_adls_devempfolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files list').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Country else location",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().name ,'countries.csv' )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Upsert locations",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": "devemp",
													"wildcardFileName": "locations.csv",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "upsert",
												"upsertSettings": {
													"useTempDB": false,
													"keys": [
														"LOCATION_ID"
													],
													"interimSchemaName": "dbo"
												},
												"sqlWriterUseTableLock": false,
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "LOCATION_ID",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "LOCATION_ID",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "STREET_ADDRESS",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "STREET_ADDRESS",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "POSTAL_CODE",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "POSTAL_CODE",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "CITY",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "CITY",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "STATE_PROVINCE",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "STATE_PROVINCE",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "COUNTRY_ID",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "COUNTRY_ID",
															"type": "String",
															"physicalType": "varchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ip_adls_devempfolder",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "op_exploredb_locations",
												"type": "DatasetReference"
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy countries",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": "devemp",
													"wildcardFileName": {
														"value": "@pipeline().parameters.p_filename",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ip_adls_devempfolder",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "op_adl_devempfolder",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_filename": {
				"type": "string"
			}
		},
		"annotations": []
	}
}