Code/pipeline/Step2 - Call Copy for all files.json
{
	"name": "Step2 - Call Copy for all files",
	"properties": {
		"activities": [
			{
				"name": "GetListOfFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ip_adls_devempfolder_all",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetListOfFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('GetListOfFiles').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Decide Copy",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Step3 - Copy or Upsert",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			},
			"V_VariableName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Project - Copy Upsert Delete file"
		},
		"annotations": []
	}
}